---
import NavLinks from "./NavLinks.astro";
---
<footer class="mt-auto flex w-full flex-col items-center p-3 md:flex-row">
  <p class="text-center text-sm italic md:text-left">
    Copyrighted Thaiminh2022 in 2023 "Very cool"
  </p>
  <ul class="flex gap-x-4 text-sm font-light italic md:ml-auto">
    <NavLinks />
  </ul>
</footer>
