---

---

<button class="fixed text-5xl bottom-[5%] right-[15%] animate-bounce" id="topBtn" aria-label="scroll to top btn">
  <i class="bx bx-up-arrow-circle"></i>
</button>

<script>
const topBtn = document.querySelector("#topBtn"); 
topBtn.addEventListener("click", () => {
topFunction();
        })
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
