---
function generateLink(name: string, link: string) {
  return { name, link };
}

const links = [
  generateLink("Home", "/"),
  generateLink("About", "/blog/about-me"),
  generateLink("Blog", "/blog"),
  generateLink("Tags", "/tag"),
];
---

{
  links.map(({ name, link }) => (
    <li class="hover-underline-animation p-5 text-right md:p-0">
      <a href={`${link}`} class="uppercase">
        {name}
      </a>
    </li>
  ))
}
