---

---

<a href="https://github.com/thaiminh2022" aria-label="Link to github">
  <i class="bx bxl-github text-3xl"></i>
</a>
<a href="mailto:thaiminh2022+thaiminh2022blog@gmail.com" aria-label="Link to email">
  <i class="bx bxl-gmail text-3xl"></i>
</a>
