---
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
const tags = blogEntries.map((b) => b.data.tags).flat();
const tagCount: { [tag: string]: number } = {};

tags.forEach((t) => {
  if (t in tagCount) {
    tagCount[t] += 1;
  } else {
    tagCount[t] = 1;
  }
});
---

<MainLayout title="Tag Archive">
  <div class="flex flex-row gap-x-2">
    <h1 class="text-3xl font-semibold">All Tags</h1>
    <i class="bx bx-purchase-tag-alt text-3xl"></i>
  </div>
  <ul class="mt-3 flex list-inside list-disc flex-col">
    {
      Object.entries(tagCount).map(([t, c]) => (
        <li class="text-lg">
          <a
            href={`/tags/${t}`}
            class="underline md:no-underline md:hover:underline"
          >
            {t} ({c})
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
