---
import MainLayout from "@layouts/MainLayout.astro";
import Socials from "@components/MainLayout/Socials.astro";
import BlogPosts from "@components/Blog/BlogPosts.astro";
---

<MainLayout title="Home">
  <article class="flex flex-col gap-y-5">
    <h1 class="text-4xl font-bold">Hello World!</h1>
    <p class="text-xl">
      Hi, I’m a theme for Astro, an example of how you can use this starter to
      create a personal blog. If you want to know more about how you can
      customise me, add more posts, and make it your own, click on one the
      github icon link below which will take you to my repo.
    </p>
    <div class="flex items-center gap-x-3 text-xl">
      <p>Cool links:</p>
      <Socials />
    </div>
    <BlogPosts />
  </article>
</MainLayout>
