---
import MainLayout from "@layouts/MainLayout.astro";
import Socials from "@components/MainLayout/Socials.astro";
import BlogPosts from "@components/Blog/BlogPosts.astro";
---

<MainLayout title="Home">
  <article class="flex flex-col gap-y-5">
    <h1 class="text-4xl font-bold">Hello My Friends</h1>
    <div class="text-xl">
      <h2 class="font-bold">I'm a High School student from Vietnam.</h2>
      <ul class="list-disc list-inside">
        <li>
          I’m currently working on game development technologies like Godot, C#,
          Bevy, etc
        </li>
        <li>
          I’m currently learning everything about Frontend or Web development in
          general
        </li>
        <li>
          Future Goals: Fully learn the violin, make a game and retired for
          life.
        </li>
        <li>Fun Fact: I have been coding since grade 5.</li>
        <li>Instrument I enjoy: Piano, Violin.</li>
        <li>Game I play: League of Legends.</li>
      </ul>
    </div>
    <div class="flex items-center gap-x-3 text-xl">
      <p>Cool links:</p>
      <Socials />
    </div>
    <BlogPosts />
  </article>
</MainLayout>
