---
import { getCollection } from "astro:content";
import SearchDialog from "./SearchDialog";

const blogEntries = await getCollection("blog");
const searchLists = blogEntries.map((b) => ({
  slug: b.slug,
  blogData: b.data,
}));
---

<button
  id="searchButton"
  class="flex flex-row items-center gap-x-2"
  type="button"
  name="Search Button"
  aria-label="Search Button"
>
  <input
    type="text"
    readonly
    class="hidden bg-overlay-light dark:bg-overlay-dark md:block md:rounded-sm md:px-1"
    placeholder="Enter search term"
  />
  <div
    class="flex aspect-square h-9 w-9 items-center justify-center transition-all"
  >
    <i class="bx bx-search-alt text-2xl"></i>
  </div>
</button>
<SearchDialog searchLists={searchLists} client:load />
<script>
  const searchBtn = document.querySelector<HTMLButtonElement>("#searchButton");
  const closeSearchBtn =
    document.querySelector<HTMLButtonElement>("#closeSearchBtn");
  const searchDialog =
    document.querySelector<HTMLDialogElement>("#searchDialog");
  searchBtn?.addEventListener("click", function () {
    searchDialog?.showModal();
  });
  closeSearchBtn?.addEventListener("click", () => {
    searchDialog?.close();
  });
</script>
